@import "../shared/variables";

.recipe-preview {
    display: inline-block;
    height: 150px;
    width: 100%;

    cursor: pointer;
    background-color: $recipeColor;
    border: 2px solid black;

    h1 {
        height: 35%;
        padding-left: 5px;
        padding-top: 10px;
        box-sizing: border-box;

        text-align: center;
        font-family: Verdana;
        font-size: 1.7em;
        
    }
    >p {
        padding-left: 15px;
        padding-top: 5px;
        box-sizing: border-box;
        height: 25%;

        color: white;
        background-color: darken($baseColor, 20%);
    }
    ul {
        height: 40%;
        list-style-type: none;
        color: white;
    }
    ul li {
        float:left;
        height: 4em;
        width: 25%;
        text-align: center;
        line-height: 4em;
        background-color: $baseColor;
    }
    li:first-child {
       font-size: 1.4em;
    }
    li p{
        line-height: 2em;
        &:first-child {
            font-weight: bold;
            color: black;
            background-color: white;
        }
    }

    overflow: hidden;
}