<div id = "header">I am a header</div>

<div id = "container">
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
  <div class = "rec">
    <recipe-preview-app
        [recipe] = "myRecipe"
        ></recipe-preview-app>
  </div>
</div>