@import "./app/shared/variables";

#rotate {
  height: 50px;
  width: 100px;
  position: relative;
  
  .block {
    float: left;
    bottom: 0;
    height: 25px;
    width: 25px;
    background-color: $loadingColor;
    border-radius: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    
    &:first-child {
    opacity: .25;
    animation-name: moveFirst;
    }

    &:nth-child(2) {
      opacity: .50;
      animation-name: moveSecond;
    }

    &:nth-child(3) {
      opacity: .75;
      animation-name: moveThird;
    }

    &:nth-child(4) {
      animation-name: moveFourth;
    }
  }

  

  @keyframes moveFirst {
    20% {
      transform: translateX(25px)
    }
    40% {
      transform: translateX(50px)
    }
    60% {
      transform: translateX(75px)
    }
    70% {
      transform: translate(75px, 25px)
    }
    80% {
      transform: translateY(25px)
    }
  }

  @keyframes moveSecond {
    20% {
      transform: translateX(25px)
    }
    40% {
      transform: translateX(50px)
    }
    50% {
      transform: translate(50px, 25px)
    }
    60% {
      transform: translate(-25px, 25px)
    }
    80% {
      transform: translateX(-25px)
    }
  }

  @keyframes moveThird {
    20% {
      transform: translateX(25px)
    }
    30% {
      transform: translate(25px, 25px)
    }
    40% {
      transform: translate(-50px, 25px)
    }
    60% {
      transform: translateX(-50px)
    }
    80% {
      transform: translateX(-25px)
    }
  }

  @keyframes moveFourth {
    10% {
      transform: translateY(25px)
    }
    20% {
      transform: translate(-75px, 25px)
    }
    40% {
      transform: translateX(-75px)
    }
    60% {
      transform: translateX(-50px)
    }
    80% {
      transform: translateX(-25px)
    }
  }
}

body {
  background-color: white
}